<br>

<div class="text-center">
	<h2>Rent out a place to hang out</h2>
	<p>Find awesome places to hangout with friends and to host events</p>
</div>

<br>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<a href="/search?utf8=%E2%9C%93&search=san+mateo">
			<div class="discovery-card" style="background-image: url('/assets/SanMateo.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>San Mateo</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="/search?utf8=%E2%9C%93&search=San+Francisco">
			<div class="discovery-card" style="background-image: url('/assets/SanFrancisco.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>San Francisco</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="/search?utf8=%E2%9C%93&search=Santa+Clara">
			<div class="discovery-card" style="background-image: url('/assets/SantaClara.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Santa Clara</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<br>

<%= form_tag search_path, method: :get do %>
	<br/>
	<div class="text-center">
		<h2>Search for places to hang out </h2><br/>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= text_field_tag :search, params[:search], placeholder: "Where do you want to hang out ?", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= submit_tag "Search", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
<br/><br/>
<div class="text-center">
	<h2>See where people are hanging out</h2>
</div>

<br/>

<div class="row">
	<% @rooms.each do |room| %>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0 %>
				</div>
				<div class="panel-body">
					<%= image_tag avatar_url(room.user), class: "img-circle avatar-small" %>&nbsp;
					<%= link_to room.listing_name, room %>
				</div>
			</div>
		</div>

	<% end %>
</div>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})


</script>
